<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('nodes_menu') %> - <%=scenario_id%> </title>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        html,
        body{
            height: 100%;
        }
        
        .container-fluid {
            height:93%
        }

        #content-grid {
            margin:auto;
            width: 98%;
            height: 95%;
            padding: 2px;
        }
    </style>  
    <script type="module">

        import { w2grid, w2utils, w2form, w2ui, w2popup, w2alert, w2confirm } from 'https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.es6.min.js'
        let isEdit = false;
        
        let region = '<%=region_id%>';
        let region_name = '<%=region_name%>';
        let scenarioId = '<%=scenario_id%>';

        $("document").ready(function(){
            $.get("<%=home_url%>/api/getNodes/<%=scenario_id%>", function(data, status){
                let recs = data.records;
                grid.records = recs;
                grid.refresh();

            });
        });

        function getNewEmptyRecord(){            
            let record = {
                node_id: 'N..',
                container_type: {id:'<%=container_types[0].id%>',text:'<%=container_types[0].type%>'},
                description: '',
                min_capacity:0.0,
                current_vol:0.0,
                max_capacity:0.0
            }

            return record;
        }

        function getSelectedRecord(){
            let selected = grid.getSelection();
            let rec = grid.get(selected)[0];

            let record = {
                id: rec.recid,
                node_id: rec.node_id,
                container_type: {id:rec.container_type_id,text:rec.container_type},
                description: rec.description,
                min_capacity:rec.min_capacity,
                current_vol:rec.current_vol,
                max_capacity:rec.max_capacity
            }

            return record;
        }


        function setForm(record){
            let rec = {
                new_scenario_id : '<%=scenario_id%>',
                new_id : record.id,
                new_node_id : record.node_id,
                new_container_type: record.container_type,
                new_description: record.description,
                new_min_capacity:record.min_capacity,
                new_current_vol: record.current_vol,
                new_max_capacity:record.max_capacity
            };
            w2ui.nodesForm.record = rec;
            w2ui.nodesForm.refresh();
        }


        function openFormPopup(){
            
            let nodesForm = new w2form({
                name: 'nodesForm',
                style: 'border: 0px; background-color: transparent;',
                fields: [
                    { field: 'new_scenario_id', type: 'text', required: true, hidden:true,
                        html: { label: 'Scenario Id', attr: 'readonly style="width: 100%";' }
                    },
                    { field: 'new_id', type: 'int', required: true, editable:false, hidden:true,
                        html: { label: 'Id', attr: 'readonly style="width: 100%";' }
                    },
                    { field: 'new_node_id', type: 'text', required: true, editable:true, 
                        html: { label: 'Node Id', 
                        attr: 'style="width: 100%;"placeholder="Nodes Id" ' }
                    },
                    { field: 'new_container_type', type: 'list',
                        html: { label: '<%= __("container_type_title") %>',attr: 'style="width: 100%"' },
                        options: { items: [
                            <% for(let i =0;i<container_types.length;i++){%>
                            {id:<%=container_types[i].id%>,text:'<%=container_types[i].type%>'}, 
                            <%}%>
                        ]},
                    },
                    { field: 'new_description', type: 'text', required: false, editable:true, 
                        html: { label: '<%= __("description_title") %>', 
                        attr: 'style="width: 100%;"placeholder="About this Node" ' }
                    },
                    { field: 'new_min_capacity', type: 'float', required: true, editable:true, 
                        html: { label: '<%= __("min_capacity_title") %>', 
                        attr: 'style="width: 100%";' }
                    },
                    { field: 'new_current_vol', type: 'float', required: true, editable:true, 
                        html: { label: '<%= __("current_vol_title") %>', attr: 'style="width: 100%";' }
                    },
                    { field: 'new_max_capacity', type: 'float', required: true, editable:true, 
                        html: { label: '<%= __("max_capacity_title") %>', 
                        attr: 'style="width: 100%";' }
                    }
                ],
                actions: {
                    Reset() { 
                        if(isEdit) 
                            setForm(getSelectedRecord());
                        else
                            setForm(getNewEmptyRecord());
                    },
                    Save() { 
                        this.validate(); 

                        let curr_min = nodesForm.record.new_min_capacity;
                        let curr_vol = nodesForm.record.new_current_vol;
                        let curr_max = nodesForm.record.new_max_capacity;
                        //max_capacity_title
                        if(curr_min <= 0){
                            w2alert("<%= __('min_capacity_title') %> <%= __('zero_val_err') %>");
                            return;
                        }
                        
                        if(curr_vol <= 0){
                            w2alert("<%= __('current_vol_title') %> <%= __('zero_val_err') %>");
                            return;
                        }

                        if(curr_max <= 0){
                            w2alert("<%= __('max_capacity_title') %> <%= __('zero_val_err') %>");
                            return;
                        }

                        if(curr_min > curr_vol){
                            w2alert("<%= __('min_capacity_err') %>");
                            return;
                        }

                        if(curr_vol > curr_max){
                            w2alert("<%= __('current_vol_err') %>");
                            return;
                        }

                        let node = {
                            new_record:!isEdit,
                            scenario_id:nodesForm.record.new_scenario_id,
                            id:nodesForm.record.new_id,
                            node_id:nodesForm.record.new_node_id,
                            container_type: nodesForm.record.new_container_type.id,
                            description:nodesForm.record.new_description,
                            min_capacity: curr_min ,
                            current_vol: curr_vol,
                            max_capacity: curr_max
                        }

                        //https://stackoverflow.com/questions/2845459/jquery-how-to-make-post-use-contenttype-application-json
                        //proper way to ajax
                        $.ajax({
                            url:'<%=home_url%>/api/saveNode', 
                            type:'POST',
                            data: JSON.stringify(node), 
                            dataType:"json",
                            contentType:"application/json; charset=utf-8",
                            success:function(response){
                                if(response)
                                    window.location.reload();
                                else
                                    alert("Something went wrong")
                            }
                        });
                    }
                }
            });

            w2popup.open({
                title   : '<%= __("nodes_form_title") %>',
                body    : '<div id="nodesForm" style="width: 100%; height: 100%;"></div>',
                style   : 'padding: 15px 0px 0px 0px',
                width   : 400,
                height  : 420,
                showMax : false
            })
            .then((event) => {
                w2ui.nodesForm.render('#nodesForm');
                if(isEdit) {
                    w2ui.nodesForm.disable('new_node_id');
                    setForm(getSelectedRecord());
                }else{
                    w2ui.nodesForm.enable('new_node_id');
                    setForm(getNewEmptyRecord());
                }
            });
        }


        let grid = new w2grid({
            name: 'grid',
            box: '#content-grid',
            header  : '<%=region_name%> <%= __("nodes_menu") %> - <%=scenario_id%> - <%= __("cap_units_msg") %> <%=capacity_units%>',
            show: {
                header:true,
                toolbar: true,
                
                //if user is admin and is in the base scenario, then can CRUD the nodes
                toolbarAdd: true,
                toolbarEdit: true,
                toolbarDelete: true
            },
            multiSearch: true,
            searches: [
                { field: 'node_id', label: '<%= __("nodes_form_title") %>', type: 'text' },
                { field: 'container_type', label: '<%= __("container_type_title") %>', type: 'list',
                   options:{
                        items:[
                            <% for(let i =0;i<container_types.length;i++){%>
                            '<%=container_types[i].type%>', 
                            <%}%>
                        ]
                   }
                }
            ],
            columns: [
                { field: 'recid', text: 'Id', hidden: true },
                { field: 'node_id', text: '<%= __("nodes_form_title") %>',sortable:true,size:'10%' },
                { field: 'container_type_id', text: 'Container_id', hidden: true },
                { field: 'container_type', text: '<%= __("container_type_title") %>',sortable:true,size:'10%' },
                { field: 'description', text: '<%= __("description_title") %>', size:'35%' },
                { field: 'min_capacity', text: '<%= __("min_capacity_title") %> (<%=capacity_units%>)',sortable:true,size:'15%',render:'float:02' },
                { field: 'current_vol', text: '<%= __("current_vol_title") %> (<%=capacity_units%>)',sortable:true,size:'15%',render:'float:02'},
                { field: 'max_capacity', text: '<%= __("max_capacity_title") %> (<%=capacity_units%>)',sortable:true, size:'15%',render:'float:02'},
                { field: 'Lat', text: 'Lat',hidden:true},
                { field: 'Long', text: 'Long',hidden:true}
            ],
            // onClick: function(event){
                
            //     //recalc solution is zero, so no changes must be done.
            //     event.onComplete = function(){
            //         this.toolbar.disable("w2ui-edit");
            //         this.toolbar.disable("w2ui-delete");
            //     }
            // },
            onAdd: function (event) {
                event.preventDefault();
                isEdit = false;
                openFormPopup();
            },
            onEdit: function(){
                event.preventDefault();
                isEdit = true;
                openFormPopup();
            },
            onDelete: function (event) {
                event.preventDefault();
                let selected = grid.getSelection();
                let rec = grid.get(selected)[0];
                let node = {
                    region_id: <%=region_id%>,
                    scenario_id : '<%=scenario_id%>',
                    node_id: rec.node_id  
                };
                

                w2confirm({
                    msg: '<%= __("delete_node_msg") %> ',
                    title: '<%= __("delete_node_title") %>',
                    width: 450,        // width of the dialog
                    height: 220,       // height of the dialog
                    btn_yes: {
                        text: '<%= __("yes") %>',   // text for yes button (or yes_text)
                        class: 'btn-danger',     // class for yes button (or yes_class)
                        style: 'background-color:red;',     // style for yes button (or yes_style)
                        onClick: null  // callBack for yes button (or yes_callBack)
                    },
                    btn_no: {
                        text: '<%= __("no") %>',    // text for no button (or no_text)
                        class: '',     // class for no button (or no_class)
                        style: '',     // style for no button (or no_style)
                        onClick: null  // callBack for no button (or no_callBack)
                    },
                    callBack: function(answer){
                        if(answer === '<%= __("yes") %>'){
                            $.post('<%=home_url%>/api/deleteNode', node, function(respuesta){
                                if(respuesta)
                                    window.location.reload();
                                else
                                    alert("Something went wrong")
                            });
                        } 
                    }
                });   
            }
            
        });
    </script>
</head>
<body>
    <div class="container-fluid" style="width:100%;height:100%;">
        <div id="content-grid" style="width:95%;height:95%;margin: 5px;">
        </div>
    </div>
</body>
</html>